@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sameer's Coffee shop!</h1>
    <h3> <a href="/Register">Register for an account here</a>.</h3>
</div>
